<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">
	<sql id='criteria'>
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<!-- 아래의 값이있다면 and를 붙여줘라  -->
			<foreach collection="typeArr" item='type'>
				<trim prefix="OR">
					<!-- 여기서or을 붙여줌 그리고 위에서 prefixover를 사용하여 반복문의 마지막의 or를 지워버림 -->
					<choose>
						<when test="type== 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type== 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	<select id="getList" resultType="org.zerock.domain.BoardVO">
	<![CDATA[
	select *from tb1_board where bno>0
	]]>
	</select>

	<insert id="insert">
		insert into tb1_board(bno,title,content,writer)
		values(seq_board.nextval,#{title},#{content},#{writer})
	</insert>


	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into tb1_board (bno,title,content,writer)
		values(#{bno},#{title},#{content},#{writer})
	</insert>


	<select id="read" resultType="org.zerock.domain.BoardVO">
		select *from tb1_board where
		bno=#{bno}
	</select>

	<select id="getListWithPaging"
		resultType="org.zerock.domain.BoardVO">
		<![CDATA[
		SELECT
		bno,
		title,
		content,
		regdate,
		updatedate,
		writer  from
		(SELECT /*+ index(tb1_board pk_board) */
		rownum rn,
		bno,
		title,
		content,
		regdate,
		updatedate,
		writer
		FROM TB1_BOARD WHERE 
			]]>
			
		<include refid="criteria"></include>
		
		<![CDATA[
		rownum<=#{PageNum} * #{amount} ) WHERE rn > (#{PageNum}-1) *#{amount}
		]]>
		
	</select>

	<delete id="delete">
		delete from tb1_board where bno=#{bno}
	</delete>

	<update id="update">
		update tb1_board
		set title=#{title}
		,content=#{content},
		writer=#{writer}
		,updateDate=sysdate
		where
		bno=#{bno}
	</update>
	
	<select id="getTotalCount" resultType="Int">
		select count(*) from
		tb1_board where
	<include refid="criteria"></include>
		 bno<![CDATA[>]]>0
		 <!--애는 한번만써서 그런가?  -->
	</select>
	
</mapper>